<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.CoffeeDao">

	<insert id="addCoffee" parameterType="Coffee">
		insert into coffee (cof_name,kind,introduce,price,img)
		values
		(#{cof.cofName},#{cof.Kind},#{cof.Introduce},#{cof.Price},#{cof.Img})
	</insert>
	<delete id="deleteCoffee" parameterType="string">
		delete from coffee where cof_name=#{cof.cofName}
	</delete>
	<update id="updateCoffee" parameterType="Coffee">
		update coffee set
		kind=#{cof.Kind},introduce=#{cof.Introduce},price=#{cof.Price},img=#{cof.Img}
		where cof_name = #{cof.cofName}
	</update>
	<select id="queryCoffee" parameterType="string"
		resultType="Coffee">
		select *from coffee where cof_name=#{cof.cofName}
	</select>
	<select id="queryAll" resultType="list">
		select*from coffee
	</select>

</mapper>
